<html>
    <head>
        <title>Address Book</title>
    </head>
    <body>
        <h1>Address Book</h1>
        {% if contacts is not empty %}
            <h2>Search For a Contact:</h2>
            <form action='/search_contacts' method='post'>
                <input id='search' name='search' type='text'>
                <button type='submit'>Search</button>
                <br><br>
                <div>
                    <label><input type='radio' name='searchType' value='name' checked>By Name</label>
                    <label><input type='radio' name='searchType' value='number'>By Phone Number</label>
                    <label><input type='radio' name='searchType' value='address'>By Address</label>
                </div>
            </form>
            <hr>
            <h2>Your Contacts:</h2>
            <ul>
                {% for contact in contacts %}
                    <li>
                        <h3>{{ contact.getName }}</h3>
                        <p><strong>Phone:</strong> {{ contact.getNumber }}</p>
                        <p><strong>Address:</strong> {{ contact.getAddress.getStreet }}
                        <br>&emsp;&emsp;&emsp;&emsp;{{ contact.getAddress.getCity }}, {{ contact.getAddress.getState }} {{ contact.getAddress.getZip }}</p>
                        <hr>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        <h2>Add a New Contact:</h2>
        <form action='/create_contact' method='post'>
            <p>Contact:</p>
            <div>
                <label for='name'>Name:</label>
                <input id='name' name='name' type='text'>
            </div>
            <div>
                <label for='number'>Phone Number:</label>
                <input id='number' name='number' type='text'>
            </div>
            <p>Address:</p>
            <div>
                <label for='street'>Street:</label>
                <input id='street' name='street' type='text'>
            </div>
            <div>
                <label for='city'>City:</label>
                <input id='city' name='city' type='text'>
            </div>
            <div>
                <label for='state'>State:</label>
                <input id='state' name='state' type='text' maxlength='2'>
            </div>
            <div>
                <label for='zip'>Zip Code:</label>
                <input id='zip' name='zip' type='number' min='1' max='99999'>
            </div>
            <button type='submit'>Add Contact</button>
        </form>

        <form action='/delete_contacts' method='post'>
            <button type='submit'>Clear All Contacts</button>
        </form>
    </body>
</html>
