<html>
    <head>
        <link href='css/bootstrap.min.css' type='text/css' rel='stylesheet'>
        <link href='css/styles.css' type='text/css' rel='stylesheet'>
        <script src='js/jquery-3.1.0.min.js'></script>
        <script src='js/scripts.js'></script>
        <title>Address Book</title>
    </head>
    <body>
        <div class='container'>
            <div class='well'>
                <h1>Address Book</h1>
                <hr>
                {% if contacts is not empty %}
                    <div class='wrapper'>
                        <form class='form-search' action='/search_contacts' method='post'>
                            <div class='input-group'>
                                <input class='form-control' id='search' name='search' type='text' placeholder='Search...'>
                                <span class='input-group-btn'>
                                    <button class='btn btn-primary' type='submit' placeholder='Search'>Search</button>
                                </span>
                            </div>
                            <div id='radios' class='input-group'>
                                <div class='radio-inline'>
                                    <label><input type='radio' name='searchType' value='name' checked>By Name</label>
                                </div>
                                <div class='radio-inline'>
                                    <label><input type='radio' name='searchType' value='number'>By Phone Number</label>
                                </div>
                                <div class='radio-inline'>
                                    <label><input type='radio' name='searchType' value='address'>By Address</label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <hr>
                    {% for contact in contacts %}
                        <div class='wrapper'>
                            <img src='img/man.svg' alt='avatar' class='avatar'>
                            <div class='contactInfo'>
                                <h3>{{ contact.getName }}</h3>
                                <p><strong>Phone:</strong> {{ contact.getNumber }}</p>
                                <p><strong>Address:</strong> {{ contact.getAddress.getStreet }}
                                <br>&emsp;&emsp;&emsp;&emsp;&emsp;{{ contact.getAddress.getCity }}, {{ contact.getAddress.getState }} {{ contact.getAddress.getZip }}</p>
                            </div>
                        </div>
                        <hr>
                    {% endfor %}
                {% endif %}

                <div class='wrapper'>
                    <form class='form-create wrapper' action='/create_contact' method='post'>
                        <h2>Add a New Contact:</h2>
                        <div class='form-group'>
                            <label for='name'>Name:</label>
                            <input class='form-control' id='name' name='name' type='text'>
                        </div>
                        <div class='form-group'>
                            <label for='number'>Phone Number:</label>
                            <input class='form-control' id='number' name='number' type='text'>
                        </div>
                        <div class='form-group'>
                            <label for='street'>Street:</label>
                            <input class='form-control' id='street' name='street' type='text'>
                        </div>
                        <div class='form-group'>
                            <label for='city'>City:</label>
                            <input class='form-control' id='city' name='city' type='text'>
                        </div>
                        <div class='form-group'>
                            <label for='state'>State:</label>
                            <input class='form-control' id='state' name='state' type='text' maxlength='2'>
                        </div>
                        <div class='form-group'>
                            <label for='zip'>Zip Code:</label>
                            <input class='form-control' id='zip' name='zip' type='number' min='1' max='99999'>
                        </div>
                        <button class='btn btn-primary' type='submit'>Add Contact</button>
                    </form>
                </div>
                <hr class='form-create'>
                <div id='bottomButtons'>
                    <button id='newContact' class='btn btn-primary' type='button'>Add a New Contact</button>
                    <button id='hideNewContact' class='btn btn-primary' type='button'>Hide New Contact</button>
                    <form action='/delete_contacts' method='post'>
                        <button id='btnClear' class='btn btn-danger' type='submit'>Delete All Contacts</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
