<html>
    <head>
        <link href='css/bootstrap.min.css' type='text/css' rel='stylesheet'>
        <link href='css/styles.css' type='text/css' rel='stylesheet'>
        <script src='js/jquery-3.1.0.min.js'></script>
        <script src='js/scripts.js'></script>
        <title>Address Book</title>
    </head>
    <body>
        <div class='container'>
            <div class='well'>
                <h1>Address Book</h1>
                <hr>
                {% if contacts is not empty %}
                    <div class='wrapper'>
                        <form class='form-search' action='/search_contacts' method='post'>
                            <div class='input-group'>
                                <input class='form-control' id='search' name='search' type='text' placeholder='Search'>
                                <span class='input-group-btn'>
                                    <button class='btn btn-primary' type='submit' placeholder='Search'>Search</button>
                                </span>
                            </div>
                            <div id='radios' class='input-group'>
                                <div class='radio-inline'>
                                    <label><input type='radio' name='searchType' value='name' checked>By Name</label>
                                </div>
                                <div class='radio-inline'>
                                    <label><input type='radio' name='searchType' value='number'>By Phone Number</label>
                                </div>
                                <div class='radio-inline'>
                                    <label><input type='radio' name='searchType' value='address'>By Address</label>
                                </div>
                            </div>
                        </form>
                    </div>
                        <hr>
                    <div class='wrapper'>
                        <h2>Your Contacts:</h2>
                        <ul>
                            {% for contact in contacts %}
                                <li>
                                    <h3>{{ contact.getName }}</h3>
                                    <p><strong>Phone:</strong> {{ contact.getNumber }}</p>
                                    <p><strong>Address:</strong> {{ contact.getAddress.getStreet }}
                                    <br>&emsp;&emsp;&emsp;&emsp;{{ contact.getAddress.getCity }}, {{ contact.getAddress.getState }} {{ contact.getAddress.getZip }}</p>
                                    <hr>
                                </li>
                            {% endfor %}
                        </ul>
                    <div>
                {% endif %}


                <form class='form-create' action='/create_contact' method='post'>
                    <h2>Add a New Contact:</h2>
                    <p>Contact:</p>
                    <div>
                        <label for='name'>Name:</label>
                        <input id='name' name='name' type='text'>
                    </div>
                    <div>
                        <label for='number'>Phone Number:</label>
                        <input id='number' name='number' type='text'>
                    </div>
                    <p>Address:</p>
                    <div>
                        <label for='street'>Street:</label>
                        <input id='street' name='street' type='text'>
                    </div>
                    <div>
                        <label for='city'>City:</label>
                        <input id='city' name='city' type='text'>
                    </div>
                    <div>
                        <label for='state'>State:</label>
                        <input id='state' name='state' type='text' maxlength='2'>
                    </div>
                    <div>
                        <label for='zip'>Zip Code:</label>
                        <input id='zip' name='zip' type='number' min='1' max='99999'>
                    </div>
                    <button type='submit'>Add Contact</button>
                </form>
                <div id='bottomButtons'>
                    <button id='newContact' class='btn btn-primary btn-bottom' type='button'>Add a New Contact</button>
                    <form class='btn-bottom' action='/delete_contacts' method='post'>
                        <button class='btn btn-danger' type='submit'>Clear All Contacts</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
