<html>
    <head>
        <link href='css/bootstrap.min.css' type='text/css' rel='stylesheet'>
        <link href='css/styles.css' type='text/css' rel='stylesheet'>
        <title>Address Book</title>
    </head>
    <body>
        <div class='container'>
            <div class='well'>
                <h2 class='text-center'>You have successfull created a new contact!</h2>
                <hr>
                <div class='wrapper text-center'>
                    <h4>{{ contact.getName }}</h4>
                    <ul>
                        <li>{{ contact.getNumber }}</li>
                        <li>
                            {{ contact.getAddress.getStreet }}
                            <br>
                            {{ contact.getAddress.getCity }}, {{ contact.getAddress.getState }} {{ contact.getAddress.getZip }}
                        </li>
                    </ul>
                </div>
                <hr>
                <a href='/'><button class='btn btn-primary btn-home' type='button'>View All Contacts</button></a>
            </div>
        </div>
    </body>
</html>
