<html>
    <head>
        <link href='css/bootstrap.min.css' type='text/css' rel='stylesheet'>
        <link href='css/styles.css' type='text/css' rel='stylesheet'>
        <title>Address Book</title>
    </head>
    <body>
        <div class='container'>
            <div class="well">
                <h1>Search Results</h1>
                <hr>
                {% if results is not empty %}
                    {% for result in results %}
                        <div class='wrapper'>
                            <img src='img/man.svg' alt='avatar' class='avatar'>
                            <div class='contactInfo'>
                                <h3>{{ result.getName }}</h3>
                                <p><strong>Phone:</strong> {{ result.getNumber }}</p>
                                <p><strong>Address:</strong> {{ result.getAddress.getStreet }}
                                <br>&emsp;&emsp;&emsp;&emsp;{{ result.getAddress.getCity }}, {{ result.getAddress.getState }} {{ result.getAddress.getZip }}</p>
                            </div>
                        </div>
                        <hr>
                    {% endfor %}
                {% else %}
                    <div class='wrapper'>
                        <h4>There are no contacts that match your search.</h4>
                    </div>
                    <hr>
                {% endif %}
                <div class='wrapper'>
                    <form class='form-search' action='/search_contacts' method='post'>
                        <div class='input-group'>
                            <input class='form-control' id='search' name='search' type='text' placeholder='Search...'>
                            <span class='input-group-btn'>
                                <button class='btn btn-primary' type='submit' placeholder='Search'>Search</button>
                            </span>
                        </div>
                        <div id='radios' class='input-group'>
                            <div class='radio-inline'>
                                <label><input type='radio' name='searchType' value='name' checked>By Name</label>
                            </div>
                            <div class='radio-inline'>
                                <label><input type='radio' name='searchType' value='number'>By Phone Number</label>
                            </div>
                            <div class='radio-inline'>
                                <label><input type='radio' name='searchType' value='address'>By Address</label>
                            </div>
                        </div>
                    </form>
                </div>
                <hr>
                <a href='/'><button class='btn btn-primary btn-home' type='button'>View All Contacts</button></a>
            </div>
        </div>
    </body>
</html>
